html{
  height: 100%;
}

body { 
  /*background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #E5E5E5;
  padding-top: 65px;
  padding-bottom: 65px;

}



.page {
    /*padding: 10px;
    margin-top: 50px;*/
    height: 80%;
    margin-bottom: 10px;
}

.divider{
    position:absolute;
    left:50%;
    top:20%;
    bottom:20%;
    border-left:1px solid lightgray;
}

.pageContainer{
      background-color: #eee;
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 3px;
      width: 100%;
}