#adminPanel {
    text-align: center;
}

#adminContent {
    text-align: left;
    margin-bottom: 10px;
    min-width: 500px;
}

#totalsDiv, #salesFiltersDiv {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
}

#salesFiltersDiv {
    height: 116px;
}